<div class="row">
  <div class="col-xs-12">
      <form>
        <div class="row">
          <div class="col-sm-5 from-group">
            <label for="itemName">Name</label>
            <input type="text" id="itemName" class="form-control">
          </div>
          <div class="col-sm-2 from-group">
            <label for="itemAmount">Anazhl</label>
            <input type="text" id="itemAmouont" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success">Hinzufügen</button>
            <button class="btn btn-primary">Zurücksetzen</button>
            <button class="btn btn-danger">Löschen</button>
          </div>
        </div>
      </form>
  </div>
</div>
